.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
    background-image: url('assets/background.png');
    color: white;
}

.creators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 50vw;
    min-height:90vh;
    background-color: rgb(14, 15, 20);
    padding: 40px;
    text-align: center;
}