.Header {
    width: 100vw;
    min-height: 10vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}
.Header p {
    margin-left: 50px;
    font-size: 50px;
    font-family: 'Jacquard 24', cursive;
}

a{
    color: rgb(42, 137, 247);
}
